{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19-stats-update</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>
<body>
    
    <h3 class="">Latest COVID 19 STATS :  {{country}}  {{continent}}   {{date_time}}</h3>
    <h3>Total populations : {{total_population}}</h3>
    {% include 'main/msg.html' %}
<div class="container bootstrap snippet ">
    <form action="" method="post" >
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="         Plz input country name to search....." name="search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
    </form>
    <br>
    <div class="row mt-3">
    <div class="col-lg-6 col-md-12 text-center">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading green"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content green">
          <div class="circle-tile-description text-faded"> Total TESTS  </div>
          <div class="circle-tile-number text-faded ">{{total_tests}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
<h3>CASES:</h3>
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded"> New</div>
          <div class="circle-tile-number text-faded ">{{new_cases}}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded"> Active</div>
          <div class="circle-tile-number text-faded ">{{active_cases}}</div>
        </div>
      </div>
    </div>
<!-- 
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded"> CRITICAL</div>
          <div class="circle-tile-number text-faded ">{{critical_cases}}</div>
        </div>
      </div>
    </div> -->
     
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded"> RECOVERED</div>
          <div class="circle-tile-number text-faded ">{{total_recovered}}</div>
        </div>
      </div>
    </div>
     

    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content red">
          <div class="circle-tile-description text-faded"> Total </div>
          <div class="circle-tile-number text-faded ">{{total_cases}}</div>
        </div>
      </div>
    </div>
 </div> 

 <div class="row">
    <h3>Deaths:</h3>
        <div class="col-lg-2 col-sm-6">
          <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content dark-blue">
              <div class="circle-tile-description text-faded"> New</div>
              <div class="circle-tile-number text-faded ">{{new_deaths}}</div>
            </div>
          </div>
        </div>
         
    
        <div class="col-lg-2 col-sm-6">
          <div class="circle-tile ">
            <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
            <div class="circle-tile-content red">
              <div class="circle-tile-description text-faded"> Total </div>
              <div class="circle-tile-number text-faded ">{{total_deaths}}</div>
            </div>
          </div>
        </div>
      

        </div>
     </div> 


</div>  
  
</body>
<!-- Footer -->
<footer class="bg-dark text-center text-white p-5">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © CznX Copyright {{date_time}}:
    <a class="text-white" href="https://www.facebook.com/Cznxp/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
      <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
    </svg></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</html>
